.github/
build/
docs/
demo-src/
node_modules/
public/
tests/

.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.babelrc
babel.config.js
jest.config.js
package-lock.json
vue.config.js
vue.config.test.js
.template
docs-src/
src/
index.html
vite.config.js
vite.config.test.js

.git/
.vscode/
nginx/
*.log
